* {
  padding: 0;
  margin: 0;
}

.login-container {
  background: linear-gradient(
      217deg,
      var(--global-purple),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, var(--global-purple), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-mjv {
  max-width: 30%;
  margin-bottom: 30px;
}

.google-sing-in {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  width: 70%;
  padding: 4px;
  cursor: pointer;
  border: 1px solid #d0d0d0;
}

.google-sing-in:hover {
  background-color: #d0d0d041;
}

.img-google {
  max-width: 10%;
}

mat-divider {
  width: 70%;
  margin: 15px;
}

.input-password{
  display: flex;
  cursor:pointer;
}

mat-icon{
  color: var(--global-purple);
}

.form-input {
  width: 70%;
}

.body-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
  margin: 0;
  padding: 0;
}

::ng-deep .mat-form-field {
  font-size: 12px;
}

.button-sign-in {
  background-color: var(--global-purple);
  width: 70%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.button-sign-in:hover {
  background-color: var(--site-purple);
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  background-color: #ffffffde;
  border-radius: 10px;
  padding: 20px 0;
}

.register {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}
