/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import  '~ngx-toastr/toastr.css' ;


:root {
    --global-purple: #60489d;
    --site-purple: #4260ad;
    --site-green: #46bb93;
    --site-pink: #9e1354;
}